:root{
  --bg: rgb(61,13,123);
  --fg: #rgb(8,1,14);

  --filed-border: rgb(255,255,255,0.29);
  --filed-border-focus: rgba(149,0,255,0.1);
  --filed-bg: rgba(149,0,255,1);
}

* { box-sizing: border-box; }
html,body { 
  height: 100%; 
  width: 100%; 
  background:var (--bg);
  background: rgb(61,13,123);
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
