flask
flask-cors

opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
aws-xray-sdk
watchtower

blinker
rollbar
Flask-AWSCognito


flask-restful
flask-jwt-extended

psycopg[binary]
psycopg[pool]